* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #74ebd5, #9face6);
}

.app {
  background: white;
  padding: 25px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
}

h1 {
  margin-bottom: 15px;
}

.search {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.search input {
  flex: 1;
  padding: 8px;
}

.search button {
  padding: 8px 12px;
  cursor: pointer;
}

.temp {
  font-size: 35px;
  font-weight: bold;
}

.details {
  margin-top: 10px;
  font-size: 14px;
}
